/.bundle/
/.yardoc
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/
/test_results


# Defensive ignore patterns.
**/~
**/.aws
**/.circleci
!/.circleci
**/.bash_history
**/credential
**/credentials
**/.credential
**/.credentials
**/.gem
**/.mysql_history
**/.profile
**/.ssh
**/.wowza
**/.wowzacli
**/id_rsa*
**/*.pem
